*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace,sans-serif;
    font-weight: normal;
}
body{
    background: linear-gradient(to right, #00AAFF, #00ff6c);;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    width: 700px;
    height: 290px;
    margin: auto;
    padding: 10px;
    background-color: black;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    border-style: inset;
}
.frame{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: 1px solid #f1f1f1;
    margin: auto;
    padding: 10px;
    height: 270px;
    border-radius: 20px;
    border-style: inset;
}
.display{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    border-radius: 1rem;
    padding: 0.4rem;
    word-wrap: break-word;
    word-break: break-all;
}

.keypad{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(7,94px);
    padding: 0.4rem;
}
.frame .keypad > button{
    cursor: pointer;
    font-size: 1.2rem;
    border: 1px solid rgb(207, 203, 203);
    outline: none;
    background-color: rgba(215, 275, 275, 0.75);
}
.btn-span-2-row{
    grid-row: 2 span;
}

.display .smaller-display{
    color: rgba(36, 32, 32, 0.75);
    font-size: 1.2rem;
    flex: 1;
}

.display .larger-display{
    color: rgb(12, 11, 11);
    font-size: 2.0rem;
    flex: 2;
}
@media screen and (max-width: 300px){
    .function,.btn-tan{
        display: none;
    }
        
    .container{
        width: 300px;
        height: 700px;}
    .frame{
        height: 700px;
    }
    .display{
        min-height: 100px;
        grid-template-rows: repeat(2,auto);
        border: 2px solid rgb(170,170, 170);
        grid-gap: 1rem;
    }
    .keypad{
        height: 600px;
        grid-template-columns: repeat(4,72px);
        grid-template-rows: minmax(120px, auto)repeat(7,80px);
        margin-bottom: 5px;
    }
}